#content {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

#greeting-container {
  margin-top: 20px;
}

/*--- navigation bar ---*/
h1 {
    background-color: #84bdff;
    padding: 0 10px 0 10px;
}
.navbar {
	background: #79b8ff;
}

.nav-link,
.navbar-brand {
	color: #fff;
    font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}
.icon1{
    height: 50%;
    width: 47px;
}

.icon2{
    height: 50%;
    width: 30px;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}

/*--- header ---*/

.header {
	background-color: #79b8ff;
	background-size: cover;
	background-position: center;
	position: relative;
}


.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.description h1 {
	color: #494949;
    font-family: 'Open Sans', sans-serif;

}

.description a {
	color: #fff;
	font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
    cursor: pointer;
    text-decoration: none;
    font-style: italic !important;

}

/*--- about section ---*/
.sam-photo{
    border-radius: 50%; 
    height: 200px;
    width: 200px;
}

.section{
    padding: 3rem 1.5rem;
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.features .form-control,
.features input {
	border-radius: 0;
}

.features .btn {
	background-color: #ffffff;
	border: 1px solid #ffffff;
	color: #fff;
	margin-top: 20px;
}

.features .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}

#fact-container {
  margin-top: 20px;
}

.project-area {
	background: #79b8ff;
}
.project-title{
    color: #333;
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
    margin-left: 700px;
}

.project-name{
    color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	text-transform: uppercase;
    margin-left: 700px;
    font-style: italic !important;

}
.project-p{
    margin-left: 700px;
}
button{
    background-color: #79b8ff;
    border: 2px solid #1175c2;
    border-radius: 25px;
    margin: 1px;
    text-decoration: none;
    outline: none;
}
button:hover {
    transform: translate(4px, 4px) scale(1.10);
}

/*--- footer ---*/

.page-footer {
	background-color: #222;
	color: #ccc;
	padding: 60px 0 30px;
}

.footer-copyright {
	color: #666;
	padding: 40px 0;
}
.foot {
    height: 40px;
    padding: 1px;
    width: 40px;
}

/*--- media queries ---*/

@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;
	}
	
	.features {
		margin: 0;
	}

}